.aboutme {
    display: flex;
    
}
.background-name {
    background-color: var( --dark-blue);
    width: 500px;
}
.background-links {
    background-color: var(--Blue-background);
    height: calc(100vh - 70px);
    width: 100%;
}
.photo-me {
    position: absolute;
    width: 700px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: end;
    background: linear-gradient(170deg, rgb(46, 52, 59) 0%, rgba(24,24,35,1) 59%);
}
.photo-me img {
    object-fit: contain;
    height: 450px;
}
