.nav-main {
    display: flex;
    justify-content: space-between;
}
.nav-main a {
    text-decoration: none;
    cursor: pointer;
}
.links-nav {
    margin-right: 60px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-end;
}
.links-nav li {
    list-style: none;
    cursor: pointer;
}
.name-nav {
    background-color: var( --dark-blue);
    width: 500px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-nav h1 {
    color: var(--Whitw);
    padding-right: 170px;
   
}
.pages-nav {
    background: var(--Blue-background) ;
    width: 100%;
}
.pages-nav a {
    color: var(--Whitw);
}
.pages-nav li:nth-child(5) {
    background-color: var(--Pink-Lace);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90px;
}
