.nav-main {
    display: flex;
    justify-content: space-between;
}
.nav-main a {
    text-decoration: none;
    cursor: pointer;
}
.pages-nav {
    background: var(--Blue-background) ;
    width: 100%;
}
.links-nav {
    margin-right: 60px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}
.links-nav li, .links-nav li a, .links-nav li a:hover {
    width: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links-nav li {
    list-style: none;
    cursor: pointer;
}
.links-nav li a:hover {
    background-color: var(--Blue-Lace);
}
.name-nav {
    background-color: var(--dark-blue);
    width: 500px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-nav h1 {
    color: var(--Whitw);
    padding-right: 170px;
    font-size: 1.5rem;
}
.pages-nav a {
    color: var(--Whitw);
}
.appnav-settings {
    color: var(--Whitw);
    border: none;
    background-color: var(--Blue-background);
}
.modal-appnav {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.486);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}
.modal-appnav.is-visible {
    display: flex;
}
.visible-modal {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--Whitw);
    gap: 40px;
    background-color: var(--Blue-background);
    border-radius: 5px;
    position: relative;
}
.modal-button {
    position: absolute;
   top: 20px;
   right: 20px;
    color: var(--Whitw);
    background-color: var(--Blue-background);
    border: none;
}
.switch-mode {
    display: flex;
    gap: 20px;
}
