.contact {
    height: calc(100vh - 150px);
   
}
.contact-me {
    display: flex;
    height: 100%;
}
.contact-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
   
}
.contact-form {
    width: 50%;
  
}
.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}