[data-theme='light'] {
    --dark-blue: #FBE4FF;
    --Earie-black: #FBE4FF;
    --Peach: #FFF3E4;
    --Pink-Lace: #FBE4FF;
    --Whitw: #000000;
    --Light-grey: #5221E6;
    --Dark-Grey: #FFFFFF;
    --Blue-Lace: #FBE4FF;
    --Blue-background: #FFFFFF;
    --Color-Photo: #FFF3E4;
    --Buttons-Footer: #FFFFFF;
    --contact: #FFF3E4;
    --modal-responsive: #FFF3E4;
    --buttons-modal: #FFF3E4; 
}

