.skillset {
    height: calc(100vh - 150px);
    background-color: var( --Earie-black);
    color: var(--Whitw);
    display: flex;
}
.skillset-skills {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   gap: 10px;
}
.skillset-skills--below {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.skill-img {
   display: flex;
   justify-content: center;
}
