@import url(/src/Styles/Home.css);
@import url(/src/Styles/AppNav.css);
@import url(/src/Styles/Aboutme.css);
@import url(/src/Styles/Footer.css);
@import url(/src/Styles/Contactme.css);
@import url(/src/Styles/Work.css);
@import url(/src/Styles/Skillset.css);
@import url(/src//Styles/Learning.css);
@import url(/src/Styles/Switch.css);
@import url(/src/Styles/Lightmode.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100vh;
}
body {
    font-family: 'Sen', sans-serif;
}
:root {
    --dark-blue: #000000;
    --Earie-black: #181823;
    --Peach: #FFF3E4;
    --Pink-Lace: #FBE4FF;
    --Whitw: #FFFFFF;
    --Light-grey: #8491A0;
    --Dark-Grey: #5B6876;
    --Blue-Lace: #5221E6;
    --Blue-background: #27273e;
    --Color-Photo: linear-gradient(170deg, rgb(46, 52, 59) 0%, rgba(24,24,35,1) 59%);
    --Buttons-Footer: #ffffff;
    --Input-button: #5221E6;
    --contact: #181823;
}