@import url(/src/Styles/Home.css);
@import url(/src/Styles/AppNav.css);
@import url(/src/Styles/Aboutme.css);
@import url(/src/Styles/Footer.css);
@import url(/src/Styles/Contactme.css);
@import url(/src/Styles/Work.css);
@import url(/src/Styles/Skillset.css);
@import url(/src//Styles/Learning.css);
@import url(/src/Styles/Switch.css);
@import url(/src/Styles/Lightmode.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100vh;
}
body {
    font-family: 'Sen', sans-serif;
    overflow-x: hidden;
}
:root {
    --dark-blue: #000000;
    --Earie-black: #181823;
    --Peach: #FFF3E4;
    --Pink-Lace: #FBE4FF;
    --Whitw: #FFFFFF;
    --Light-grey: #8491A0;
    --Dark-Grey: #5B6876;
    --Blue-Lace: #5221E6;
    --Blue-background: #27273e;
    --Color-Photo: linear-gradient(170deg, rgb(46, 52, 59) 0%, rgba(24,24,35,1) 59%);
    --Buttons-Footer: #ffffff;
    --Input-button: #5221E6;
    --contact: #181823;
    --modal-responsive: #5221E6;
    --buttons-modal: #5221E6;
}
@media (max-width: 1024px) {
    /* responsive AppNav */
 
    .links-nav {
     margin: 0px;
     gap: 0;
     padding: 0;
    }
    .name-nav,  .background-name  {
        width: 260px;
    }
    .name-nav h1 {
        padding-right: 0px;
    }
    
    
  /* responsive Home */
    
    .photo-me {
        width: 400px;
        height: 76%;
    }
    .home-text {
        width: 600px;
    }
    .text-me {
        font-size: 3rem;
    }
    /*About me*/
    .objectives .render-uls ul li {
        font-size: 0.6rem;
       }
   /*responsive Contact*/

    .text-contact {
    padding-left: 100px;
    margin-right: 20px;
    }

     /*Responsive Contact me*/

     .contact {
        overflow-y: auto;
    }
  }
  
  @media (max-width: 768px) {
  
    /*responsive Home */
    .photo-me {
        width: 300px;
        height: 70%;
    }
    .photo-me  img {
        height: 400px;
    }
    .home-text {
        width: 450px;
        left: 280px;
        bottom: 150px;
    }
    .home-text h4 {
        font-size: 2rem;
    } 
    .home-text p {
        font-size: 1rem;
    }
    .text-me {
        font-size: 2rem;
    }

    /* Responsive About me*/
    .illustration-man {
        width: 390px;
    }
    .aboutme-buttons button {
        font-size: 1.5rem;
    }
   

   /*Responsive Learning*/
   .learning h2 {
    font-size: 1.4rem;
   }
   /*Contact*/

   .contact-text img {
    height: 250px;
    left: 20px;
   }
   @media (max-width: 425px) {
    /*AppNav*/
    .visible-modal {
        width: 70%;
        height: 80%;
    }
    /* Home */

    .photo-me  {
        display: none;
    } 
    .home-text {
        width: 300px;
        left: 35px;
        bottom: 90px;
    }
    .home-text h4 {
        font-size: 1.6rem;
    } 
    .home-text p {
        font-size: 0.8rem;
        width: 300px;
        text-align: justify;
    }
    .text-me {
        font-size: 1.4rem;
    }
    /*Modal responsive*/
    .links-nav {
        display: none;
    }
    .modal-show {
    display: flex;
    }
    .show-options {
        display: none;
    }
    /*About me*/
    .aboutme {
        height: calc(100vh - 150px);
    }
    .illustration {
        display: none;
    }
     .aboutme-buttons {
        display: none;
   }
   .responsive-modal {
        display: flex;
   }

    /*Work*/
    .view-more {
        --bs-tooltip-max-width: 350px;
    }
    .work-img  {
        font-size: 0.7rem;
    }
    .work-card__text {
        font-size: 0.8rem;
        width: 220px;
       
    }
    /*Skillset*/
    .skillset-skills img {
        width: 60px;
    }
    .skillset-skills h3 {
        font-size: 1rem;
    }

    /*Learning*/

    .learning-svg img {
        width: 80px;
    }
    .learning h2 {
        font-size: 0.75rem;
    }

    /*Contact*/
    .contact-me {
        flex-direction: column;
    }
    .contact-text {
        width: 100%;
        height: 160px;
    }
    .text-contact {
        padding-left: 40px;
    }
    .contact-text img {
        display: none;
    }
    .contact-form {
        width: 100%;
        margin-left: 40px;
    }
   }
}